@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

header {
  background-color: lightblue;
  font-family: 'Poppins',sans-serif;
  display: flex;
  justify-content: space-between;
}
 
header h1 {
  margin: auto 10px;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav li{
  list-style: none;
  margin: auto 20px;
}
a{
  text-decoration: none;
}