header {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
}
 
header h1 {
  margin: auto 10px;
}

.nav-section {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav li{
  list-style: none;
  margin: auto 20px;
}